
<div class="body">
    <form [formGroup]="form" (ngSubmit)="enviar()">
        <h1>Green Leaves</h1>
        <!--Nombre-->
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <!--Email-->
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput  placeholder="Ejemplo a@a.com" formControlName="mail">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')"> El correo no es valido </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')"> El email es <strong>obligatorio</strong> </mat-error> -->
        </mat-form-field>
        <!--Teléfono-->
        <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <!--Fecha-->
        <mat-form-field appearance="fill">
            <mat-label>Fecha (MM/DD/YYYY)</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!--Ciudad-->
        <mat-form-field appearance="fill">
            <mat-label>Ciudad y Estado</mat-label>
            <mat-select formControlName="city">
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <!--Enviar-->
        <button type="submit" mat-flat-button color="primary">Enviar</button>
    </form>
</div>

